@font-face {
  font-family: "Arial Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Arial Regular"), url("../FONT/ARIAL/ARIAL.woff") format("woff");
}
@font-face {
  font-family: "Arial Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Arial Medium"), url("../FONT/ARIAL/ArialMdm.woff") format("woff");
}
@font-face {
  font-family: "Arial Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Arial Bold"), url("../FONT/ARIAL/ARIALBD.woff") format("woff");
}
@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Regular"), url("../FONT/ROBOTO/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Bold"), url("../FONT/ROBOTO/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Medium"), url("../FONT/ROBOTO/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../FONT/SEGOE/Segoe UI.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("../FONT/SEGOE/Segoe UI Bold.woff") format("woff");
}
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}

button {
  background-color: white;
  outline: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp--3 {
  -webkit-line-clamp: 3;
}
.line-clamp--4 {
  -webkit-line-clamp: 4;
}
.line-clamp--5 {
  -webkit-line-clamp: 5;
}

.wrapper {
  max-width: 192rem;
  margin: 0 auto;
}

.container {
  max-width: 117rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.gray-text {
  color: #555555;
}
.gray-text--light {
  color: #898989;
}

.btn {
  color: white;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-size: 1.6rem;
  font-family: "Arial";
  border: none;
}
.btn--primary {
  background-color: #3fb871;
  padding: 1.5rem 3rem;
}
.btn--primary:hover {
  background-color: #36a671;
}
.btn--white {
  background-color: white;
  padding: 1.5rem 3rem;
  color: #3fb871;
  border: 1px solid #3fb871;
}
.btn--rounded {
  border-radius: 2rem;
}
.btn--circle {
  border-radius: 50%;
}
.btn--circle55 {
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
}
.btn--red {
  background-color: #d64146;
}

.color--green {
  color: #98cb4a;
}
.color--orange {
  color: #f76d3c;
}
.color--purple {
  color: #913ccd;
}
.color--pink {
  color: #f15f74;
}
.color--yellow {
  color: #f7d842;
}
.color--blue {
  color: #5481e6;
}

.header {
  background-color: #202020;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__time {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 10px;
  font-family: "Arial Regular";
  padding-right: 3rem;
}
.header__top-1 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__contact {
  font-size: 1.2rem;
  color: #898989;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__contact__item {
  cursor: pointer;
  border-left: 1px solid #898989;
  padding: 1rem 2rem;
}
.header__contact__item a {
  color: #898989;
}
.header__contact__item a:hover {
  color: #3fb871;
}
.header__contact__item:last-child {
  border-right: 1px solid #898989;
}
.header__top-2 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  color: #898989;
  font-family: "Arial";
  font-size: 1.2rem;
}
.header__login {
  color: #898989;
  padding: 1rem;
  cursor: pointer;
}
.header__login i {
  margin-right: 1rem;
}
.header__register {
  color: #898989;
  cursor: pointer;
  padding: 1rem;
}
.header__register i {
  margin-right: 1rem;
}
.header__middle {
  background-image: url("../../IMG/HEADER/header-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.302);
  padding-bottom: 1rem;
}
.header__middle > div {
  display: flex;
}
.header__middle__img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
}
.header__middle__img2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__middle__img2 div {
  margin-right: -1rem;
}
.header__middle__logo--mobile {
  display: none;
}
.header__middle__form {
  width: 100%;
}
.header__middle__form--2 button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__middle__form--2 span {
  font-size: 2rem;
  color: #d64146;
  margin-right: 5px;
}
.header__textlogo {
  font-family: "Roboto Regular";
  font-size: 1.6rem;
  color: #898989;
  letter-spacing: 3;
  bottom: 0;
  transform: translateY(-100%);
}
.header__middle__search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
}
.header__middle__search p {
  margin-left: 2rem;
  font-family: "Arial";
  font-size: 1.4rem;
  color: #898989;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.header__middle__search p i {
  margin-right: 1rem;
}
.header__middle__search form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__middle__search form div:last-child {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__middle__search form div:first-child {
  position: relative;
  margin-right: 2rem;
  width: 65%;
}
.header__middle__search form div:first-child i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  right: 3rem;
  color: #898989;
}
.header__middle__search form input {
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  width: 100%;
  font-family: "Arial";
  font-size: 1.4rem;
  color: #898989;
}
.header__middle__search form input::placeholder {
  font-family: "Arial";
  font-size: 1.4rem;
  color: #e1e1e1;
}
.header__middle__search form p {
  font-family: "Arial Bold";
  padding-bottom: 0;
  color: #555555;
}
.header__nav {
  background-color: #3fb871;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav__item {
  padding: 1.5rem 2rem;
}
.nav__item a {
  color: white;
  font-family: "Arial";
  font-size: 1.4rem;
  text-transform: uppercase;
}
.nav__item:hover {
  background-color: #36a671;
}
.nav__item:hover .dropdown {
  display: block;
}
.nav__item--drop {
  position: relative;
}
.nav__item--drop::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid white;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
}
.nav__item--list {
  position: relative;
}
.nav__mobile {
  display: none;
}
.nav__mobile__list {
  background-color: #3fb871;
  width: 100%;
}

.dropdown {
  background-color: #3fb871;
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  top: 100%;
}
.dropdown li {
  padding: 1.5rem 1.5rem;
}
.dropdown li:hover {
  background-color: #36a671;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header__middle {
    padding-top: 1rem;
  }
  .header__middle__img {
    width: 40%;
  }
  .header__middle__img2 {
    display: none;
  }
  .header__middle__search {
    width: 55%;
  }
  .header__middle__search p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .header__top {
    display: none;
  }
  .header__textlogo {
    display: none;
  }
  .header__middle {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header__middle__img {
    margin: 0 auto;
    width: auto;
  }
  .header__middle__img2 {
    display: none;
  }
  .header__middle__logo--desktop {
    display: none;
  }
  .header__middle__logo--mobile {
    display: block;
  }
  .header__middle__search {
    display: none;
  }

  .nav__list {
    display: none;
  }
  .nav__mobile {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 1.5rem;
  }
  .nav__mobile--2 {
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.6rem;
  }
  .nav__mobile--2 img {
    margin-left: 2rem;
  }
  .nav__mobile__list {
    display: none;
  }
  .nav__mobile--1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
  }
  .nav__mobile--1:hover .nav__mobile__list {
    padding-left: 1.5rem;
    position: absolute;
    display: block;
    z-index: 100000;
    top: 100%;
    left: 0;
    width: 100vw;
    transform: translateX(-1.5rem);
    font-size: 1.4rem;
    font-family: "Arial";
  }
  .nav__mobile--1:hover .nav__mobile__list a {
    padding: 1.5rem;
    color: white;
  }
  .nav__mobile--1:hover .nav__mobile__list a:hover {
    background-color: #36a671;
  }
}
.footer {
  background-color: #313131;
  color: #898989;
}
.footer__border {
  border-bottom: 1px solid #898989;
}
.footer__contact {
  text-transform: uppercase;
  font-family: "Arial Bold";
  font-size: 1.2rem;
  padding: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
}
.footer__contact-1 {
  width: 36.5%;
}
.footer__contact-1 .header__contact__item {
  border: none;
  padding-left: 0;
  padding-right: 3rem;
}
.footer__contact-2 {
  width: 21%;
}
.footer__contact-2 p {
  max-width: 15rem;
  line-height: 2;
}
.footer__contact-3 {
  width: 42%;
}
.footer__contact-3 div {
  display: flex;
  width: 100%;
}
.footer__contact-3 div input {
  width: 90%;
  padding: 1rem;
  border: none;
  outline: none;
}
.footer__contact-3 div a {
  color: white;
  cursor: pointer;
  padding: 1rem;
  background-color: #3fb871;
  text-align: center;
  width: 10%;
}
.footer__middle {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Arial";
}
.footer__middle-1 {
  width: 36.5%;
  padding-top: 4rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "Arial";
}
.footer__middle-1 i {
  padding: 1rem 0;
}
.footer__middle-1 i::before {
  padding-right: 2rem;
  color: #3fb871;
}
.footer__text {
  max-width: 80%;
  padding-bottom: 1rem;
}
.footer__middle-2 {
  padding-top: 6rem;
  width: 63.5%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3rem 0;
  font-family: "Arial";
  font-size: 1.4rem;
}
.footer__bottom-1 {
  display: flex;
}
.footer__bottom-1 li {
  cursor: pointer;
  margin-right: 2rem;
}
.footer__bottom-1 li:hover {
  color: #3fb871;
}
.footer__bottom-2 li {
  cursor: pointer;
  font-size: 2rem;
  padding-left: 2rem;
}
.footer__bottom-2 li:hover {
  color: #3fb871;
}

.middle-2__item {
  list-style: none;
  width: 25%;
}
.middle-2__title {
  font-size: 1.2rem;
  font-family: "Arial Bold";
  color: #3fb871;
  margin-bottom: 3.5rem;
}

.item-list__item {
  cursor: pointer;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}
.item-list__item i {
  margin-right: 1rem;
}
.item-list__item:hover {
  color: #3fb871;
}

@media only screen and (max-width: 767px) {
  .footer__text {
    padding-top: 2rem;
  }
  .footer__contact-1 {
    color: #3fb871;
    width: 100%;
  }
  .footer__contact-1 li {
    font-size: 2rem;
  }
  .footer__contact-1 li i {
    color: white;
  }
  .footer__contact-2 {
    color: #3fb871;
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer__contact-2 p {
    max-width: 100%;
  }
  .footer__contact-3 {
    width: 100%;
  }
  .footer__middle-1 {
    width: 100%;
  }
  .footer__middle-2 {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 3rem;
  }
  .footer__bottom {
    display: none;
  }

  .middle-2__item {
    width: 100%;
  }
}
.pop-up {
  display: none;
  z-index: 9998;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.pop-up:target {
  display: block;
}
.pop-up__close {
  padding: 0;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  color: #3fb871;
  cursor: pointer;
  font-size: 1.8rem;
  outline: none;
}
.pop-up__content {
  position: relative;
  background-color: #f1eeeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 8rem;
  padding-bottom: 6.5rem;
  max-width: 80rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #898989;
  font-family: "Arial";
}
.pop-up__content__right {
  width: 48.125%;
}
.pop-up__content__img {
  width: 46.25%;
}
.pop-up__content__title {
  font-size: 2.3rem;
  color: #3fb871;
  font-family: "Arial";
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.pop-up__content__form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.pop-up__content__form input {
  width: 85%;
  outline: none;
  padding: 1.5rem;
  border: 1px solid #e1e1e1;
}
.pop-up__content__form button {
  width: 15%;
  color: white;
  background-color: #3fb871;
  padding: 1.5rem;
  border: 1px solid #e1e1e1;
}
.pop-up__content__desc {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 2rem;
}
.pop-up__content__check {
  margin-top: 3rem;
}
.pop-up__content__check label {
  font-size: 1.4rem;
}
.pop-up__content__check input {
  border: 1px solid #e1e1e1;
}

@media only screen and (max-width: 767px) {
  .pop-up:target {
    display: none;
  }
}
.carousel {
  position: relative;
}
.carousel img {
  width: 100%;
  object-fit: cover;
}
.carousel__btn {
  position: absolute;
  display: flex;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
.carousel__btn__item {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 50%;
  margin: 0.5rem;
}
.carousel__btn__item:hover {
  background-color: #3fb871;
}

.panigation i {
  cursor: pointer;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
}
.panigation i::before {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.hot-product {
  padding-top: 5rem;
}
.hot-product__top {
  border-bottom: 1px solid #898989;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.hot-product__title {
  display: inline-block;
  font-size: 1.6rem;
  font-family: "Roboto Regular";
  padding-bottom: 2rem;
  font-weight: bold;
  color: #3fb871;
  border-bottom: 2px solid #3fb871;
}
.hot-product__list {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.hot-product__list1 {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.hot-product__list1 .card:first-child {
  width: 100%;
}
.hot-product__list2 {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: row-reverse;
}
.hot-product__list2 .card:last-child {
  width: 100%;
}

.card {
  width: 48%;
  font-family: "Arial";
  margin-bottom: 2rem;
}
.card img {
  width: 100%;
}
.card__action {
  position: relative;
  cursor: pointer;
}
.card__action:hover .card__action__content {
  visibility: visible;
  background-color: #bbbbbb;
  opacity: 0.8;
}
.card__action:hover .discount {
  display: none;
}
.card__action__content {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.card__action__content button:last-child {
  margin-left: 1rem;
  color: #555555;
}
.card__content {
  border: 1px solid #e1e1e1;
  border-top: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 1.6rem;
  color: #898989;
}
.card__content__star {
  padding: 2rem;
}
.card__content__star i::before {
  color: #febf01;
}
.card__content__price {
  color: #d64146;
  font-family: "Arial Medium";
  font-size: 2rem;
}

.discount {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 6rem;
  height: 6rem;
  padding: 1;
  font-size: 1.2rem;
}

.hot-product1 {
  padding-top: 5rem;
}
.hot-product1 .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hot-product1__part1 {
  width: 23.5%;
}
.hot-product1__list1 {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.hot-product1__list1 .card__content__desc {
  font-family: "Arial";
}
.hot-product1__list1 .card__content__price {
  font-size: 1.4rem;
}
.hot-product1__part2 {
  width: 74.5%;
}
.hot-product1__list2 {
  padding-top: 3rem;
  width: 100%;
}
.hot-product1__list2 .card {
  width: 31.5%;
}
.hot-product1__list2 .card__content {
  padding: 2rem;
}
.hot-product1__list2 .card__content__star {
  padding: 1.5rem;
}
.hot-product1__list2--mobile {
  display: none;
}
.hot-product1__list2--desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-small {
  border: 1px solid #e1e1e1;
  padding: 2rem;
  display: flex;
}
.card-small img {
  width: 40%;
}
.card-small .card__content {
  padding: 0.5rem 0;
  border: none;
  font-size: 1.4rem;
}
.card-small .card__content__star {
  padding: 1.5rem;
}
.card-small .card__content__price del {
  display: none;
}

.banner {
  margin-top: 3rem;
}
.banner__img {
  width: 100%;
}

.new-product {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.new-product__list {
  margin-top: 3rem;
}
.new-product__list .card {
  width: 23.5%;
}
.new-product__list--mobile {
  display: none;
}
.new-product__list--desktop {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.news {
  font-family: "Arial";
  font-size: 1.3rem;
  color: #898989;
  margin-bottom: 3rem;
}
.news__list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.news__card {
  width: 31.5%;
}
.news__card img {
  width: 100%;
}
.news__card__content {
  padding: 2rem 0;
  width: 100%;
}
.news__card__time {
  font-style: italic;
}
.news__card__title {
  font-weight: bold;
  color: #3fb871;
  padding: 2rem 0;
}
.news__card__more {
  cursor: pointer;
  display: inline-block;
  padding-top: 2rem;
  font-style: italic;
  color: #3fb871;
}

@media only screen and (max-width: 767px) {
  .carousel img {
    height: 23rem;
  }

  .hot-product__list1 {
    width: 100%;
  }
  .hot-product__list2 {
    width: 100%;
  }

  .card {
    font-size: 1.2rem;
  }
  .card__content {
    font-size: inherit;
  }
  .card__content__price {
    font-size: inherit;
  }
  .card__content__star {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
  .btn--circle {
    padding: 0;
  }
  .btn--circle55 {
    width: auto;
    height: auto;
  }

  .discount {
    width: 4rem;
    height: 4rem;
    padding: 0 0;
  }

  .hot-product1__part1 {
    width: 100%;
  }
  .hot-product1__part2 {
    margin-top: 3rem;
    width: 100%;
  }
  .hot-product1__list2--desktop {
    display: none;
  }
  .hot-product1__list2--mobile {
    display: block;
  }
  .hot-product1__list2 .card {
    width: 100%;
  }

  .card-small .card__content {
    font-size: 1.6rem;
    font-family: "Arial";
    margin: 0 auto;
  }

  .new-product__list--mobile {
    display: block;
  }
  .new-product__list--mobile .card {
    width: 100%;
  }
  .new-product__list--desktop {
    display: none;
  }

  .news {
    display: none;
  }
}
.breadcrumb {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.breadcrumb a {
  display: inline;
}

.bread-crumb {
  font-family: "Arial";
  font-size: 1.4rem;
  color: #898989;
  cursor: pointer;
}
.bread-crumb--active {
  color: #3fb871;
}

.grid-content {
  padding-bottom: 10rem;
}
.grid-content .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid-content .container:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid-content__catalog {
  width: 23%;
}
.grid-content__list {
  width: 74%;
}
.grid-content__list img {
  width: 100%;
}
.grid-content__filter {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid-content__filter1 {
  font-size: 2rem;
  color: #898989;
}
.grid-content__filter1 i {
  cursor: pointer;
  margin-right: 2rem;
}
.grid-content__filter2 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.5rem;
  font-family: "Arial";
  color: #898989;
}
.grid-content__filter2 label {
  margin-right: 2rem;
}
.grid-content__filter2 form {
  margin-left: 3rem;
}
.grid-content__filter2 select {
  padding: 1rem;
  border: 1px solid #898989;
  color: #898989;
  outline: none;
}
.grid-content__card {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid-content__card .card {
  width: 31.3%;
}
.grid-content__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.6rem;
  color: #898989;
  font-family: "Arial";
}
.grid-content__pagination__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid-content__pagination button {
  color: #898989;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #e1e1e1;
}
.grid-content__pagination button:hover {
  background-color: #3fb871;
}
.grid-content__pagination ul li button {
  outline: none;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid #e1e1e1;
}
.grid-content__pagination ul li button:hover {
  background-color: #3fb871;
}

.catalog__title {
  border-bottom: 1px solid #898989;
}
.catalog__title h4 {
  color: #3fb871;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
  border-bottom: 3px solid #3fb871;
}
.catalog__list {
  padding-top: 2rem;
}
.catalog__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.4rem;
  color: #898989;
  padding: 1.5rem 0;
  border-bottom: 1px solid #898989;
}
.catalog__item i {
  margin-right: 1.5rem;
}
.catalog__item a {
  cursor: pointer;
  font-family: "Arial";
}
.catalog__item a:hover {
  color: #3fb871;
}
.catalog__search-price {
  margin-top: 2rem;
}
.catalog__search-color {
  margin-top: 3rem;
}

.search-color__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}
.search-color__item {
  display: flex;
  font-size: 1.2rem;
  width: 50%;
  padding: 1.5rem 0;
}
.search-color__item i {
  font-size: 2rem;
  margin-right: 2rem;
}
.search-color__link {
  font-family: "Arial";
  color: #898989;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .grid-content__catalog {
    width: 100%;
  }
  .grid-content__list {
    width: 100%;
  }
  .grid-content__filter2 form {
    margin-left: 0;
    padding-top: 1.5rem;
  }
  .grid-content__card .card {
    width: 100%;
  }
  .grid-content__pagination {
    font-size: 1rem;
    justify-content: center;
  }
  .grid-content__pagination ul li {
    padding: 1rem;
    margin: 0;
  }
}
.card-horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2rem;
  border: 1px solid #e1e1e1;
}
.card-horizontal img {
  width: 27.5%;
}
.card-horizontal__content {
  padding: 2.5rem 3rem;
  width: 72.5%;
  font-family: "Arial";
}
.card-horizontal__stars {
  margin-top: 1.5rem;
}
.card-horizontal__stars i {
  font-size: 1.6rem;
  color: #febf01;
}
.card-horizontal__name {
  font-family: "Roboto Regular";
  font-size: 1.8rem;
}
.card-horizontal__desc {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: #898989;
  line-height: 1.5;
}
.card-horizontal__price {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #d64146;
}
.card-horizontal__actions {
  margin-top: 1rem;
}
.card-horizontal__actions i {
  margin-left: 1.5rem;
  cursor: pointer;
}
.card-horizontal__actions i:hover {
  color: #3fb871;
}
.card-horizontal__actions i::before {
  font-size: 1.6rem;
  padding: 1.5rem;
  border-radius: 50%;
  border: 1px solid #898989;
}

.list-card {
  margin-top: 3rem;
}

@media only screen and (max-width: 767px) {
  .card-horizontal img {
    width: 100%;
  }
  .card-horizontal__content {
    width: 100%;
  }
}
.news-content {
  margin-bottom: 10rem;
}
.news-content .container {
  display: flex;
  justify-content: Space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.news-content__catalog {
  width: 23%;
}
.news-content__list {
  width: 74%;
}
.news-content__list__item {
  margin-bottom: 3rem;
  font-family: "Arial";
  color: #898989;
}
.news-content__list__item a {
  font-size: 2rem;
  color: #555555;
}
.news-content__list__item a:hover {
  color: #3fb871;
}
.news-content__list__item div {
  margin-top: 1rem;
}
.news-content__list__item div i::before {
  font-size: 1.2rem;
  color: #3fb871;
  margin-right: 1rem;
}
.news-content__list__item div span {
  display: inline-block;
  font-family: "Arial";
  margin-right: 1.6rem;
}
.news-content__list__item img {
  width: 100%;
  margin-top: 2rem;
}
.news-content__list__item p {
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 2;
}

.catalog__hot-news {
  margin-top: 2rem;
}
.catalog__list-card {
  margin-top: 3rem;
}
.catalog__tag {
  margin-top: 3rem;
}
.catalog__list-tag {
  margin-top: 3rem;
}
.catalog__list-tag a {
  margin-top: 1rem;
  margin-right: 1rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #898989;
  padding: 1.5rem;
  border: 1px solid #898989;
}
.catalog__list-tag a:hover {
  background-color: #3fb871;
}

.card-news {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  border: 1px solid #e1e1e1;
}
.card-news__img {
  width: 32%;
}
.card-news__img img {
  width: 100%;
}
.card-news__content {
  width: 68%;
  padding: 1rem;
}
.card-news__content p {
  color: #898989;
  font-size: 1.4rem;
  font-family: "Arial";
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .news-content__catalog {
    width: 100%;
    margin-bottom: 3rem;
  }
  .news-content__list {
    width: 100%;
  }
}
.detail-news {
  width: 74%;
}

.list-comments {
  margin-top: 3rem;
  font-family: "Arial";
  color: #898989;
}
.list-comments h3 {
  font-size: 2rem;
  font-weight: bold;
}
.list-comments__list {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.list-comments__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.list-comments__item:nth-child(odd) {
  padding: 3rem 0;
  border-top: 1px solid #e1e1e1;
}
.list-comments__item:nth-child(odd) .list-comments__item__avatar {
  width: 13%;
}
.list-comments__item:nth-child(odd) .list-comments__item__content {
  width: 87%;
}
.list-comments__item:nth-child(even) {
  width: 87%;
  padding: 3rem 0;
  border-top: 1px solid #e1e1e1;
}
.list-comments__item:nth-child(even) .list-comments__item__avatar {
  width: 14%;
}
.list-comments__item:nth-child(even) .list-comments__item__content {
  width: 86%;
}
.list-comments__item:first-child {
  border: none;
}
.list-comments__item__content {
  padding: 1rem;
}
.list-comments__item__content i {
  display: inline-block;
  font-family: "Roboto Regular";
  font-style: italic;
  font-size: 1.3rem;
}

.comment__top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.4rem;
  color: #555555;
}
.comment__top a {
  font-style: italic;
  text-decoration: underline;
  font-family: "Arial";
  color: #555555;
}
.comment__desc {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 1.2;
}

.write-comment {
  margin-top: 3rem;
  font-family: "Arial";
  color: #898989;
}
.write-comment h3 {
  font-size: 2rem;
  font-weight: bold;
}
.write-comment form {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.write-comment form input {
  width: 32%;
  padding: 1.5rem;
  border: 1px solid #e1e1e1;
}
.write-comment form textarea {
  margin-top: 2rem;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #e1e1e1;
  font-family: "Arial";
}
.write-comment form div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.write-comment form div button {
  padding: 1.5rem 6rem;
}

@media only screen and (max-width: 767px) {
  .detail-news {
    width: 100%;
  }

  .news-content__list__item p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
  }

  .list-comments__item__avatar img {
    width: 100%;
  }

  .comment__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
  }

  .write-comment form input {
    width: 100%;
    margin-top: 1.5rem;
  }
}
.detail-product .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.detail-product__product-images {
  width: 40%;
}
.detail-product__product-contents {
  width: 58%;
}

.product-images__1 img {
  width: 100%;
}
.product-images__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}
.product-images__item {
  width: 18%;
}
.product-images__item img {
  width: 100%;
}

.product-contents__top {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}
.product-contents__top__name {
  font-size: 2rem;
  font-family: "Arial";
  color: #555555;
}
.product-contents__top .card__content__star {
  padding: 1rem 0;
}
.product-contents__top del {
  color: #898989;
  font-family: "Arial";
}

.product-contents__desc {
  font-size: 1.3rem;
  color: #898989;
  font-family: "Arial";
  line-height: 1.5;
  padding: 2rem 0;
  border-bottom: 1px solid #e1e1e1;
}
.product-contents__quality {
  display: flex;
  align-items: baseline;
  color: #555555;
  font-family: Arial;
  font-size: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #e1e1e1;
}
.product-contents__quality span {
  padding-right: 2rem;
}
.product-contents__quality input {
  font-size: 2rem;
  width: 8rem;
  padding: 1rem 1.5rem;
  outline: none;
  border: 1px solid #e1e1e1;
}
.product-contents__quality button {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  color: #555555;
  border: 1px solid #e1e1e1;
}
.product-contents__quality button:hover {
  background-color: #3fb871;
}
.product-contents__quality button:nth-child(3) {
  padding: 1rem 3rem;
}
.product-contents__action {
  padding: 2rem 0;
}
.product-contents__action i {
  margin-left: 1.5rem;
  cursor: pointer;
}
.product-contents__action i:hover {
  color: #3fb871;
}
.product-contents__action i::before {
  font-size: 1.6rem;
  padding: 1.5rem;
  border-radius: 50%;
  border: 1px solid #898989;
}

.detail-product__tag {
  margin-top: 8rem;
  width: 100%;
}
.detail-product__tag__title ul {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.detail-product__tag__title ul li {
  cursor: pointer;
  width: 33.333%;
  font-size: 1.6rem;
  color: #555555;
  font-family: "Arial";
  padding: 1.5rem 6rem;
  border-bottom: 1px solid #e1e1e1;
}
.detail-product__tag__title ul li:nth-child(1) {
  color: #3fb871;
  border-top: 2px solid #555555;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: none;
}
.detail-product__tag__desc {
  border: 1px solid #e1e1e1;
  border-top: none;
  padding: 1rem 4rem 3.5rem;
}
.detail-product__tag__desc p {
  padding-top: 3rem;
  line-height: 2;
  font-size: 1.2rem;
  color: #898989;
  font-family: "Arial";
}

.same-products {
  margin-bottom: 5rem;
  margin-top: 6rem;
}
.same-products__top {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.same-products__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 4rem;
}
.same-products__list .card {
  width: 23.5%;
}

@media only screen and (max-width: 767px) {
  .detail-product__product-images {
    width: 100%;
    margin-bottom: 4rem;
  }
  .detail-product__product-contents {
    width: 100%;
  }

  .detail-product__tag {
    margin-top: 8rem;
    width: 100%;
  }
  .detail-product__tag__title ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .detail-product__tag__title ul li {
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
    color: #555555;
    font-family: "Arial";
    padding: 1.5rem 6rem;
    border: 1px solid #e1e1e1;
  }

  .same-products {
    margin-bottom: 5rem;
    margin-top: 6rem;
  }
  .same-products__top {
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .same-products__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 4rem;
  }
  .same-products__list .card {
    width: 48%;
  }
}
.quantityOfItem {
  border: 1px solid #e1e1e1;
  outline: none;
  padding: 1rem;
  font-size: 2rem;
  color: #898989;
}

.btn-deleteItem {
  border: none;
  color: #898989;
  cursor: pointer;
  font-size: 2rem;
}
.btn-deleteItem:hover {
  color: #3fb871;
}

.modal-address {
  margin-top: 3rem;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  font-family: "Arial";
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  top: 20%;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #3fb871;
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  font-size: 2rem;
}

.modal-body {
  padding: 2rem 16px;
}
.modal-body .register__form__control {
  width: 100%;
  margin-bottom: 2rem;
}
.modal-body .modal-action {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.processbar__list {
  display: flex;
}
.processbar__list li {
  font-family: "Roboto Regular";
  color: #898989;
  font-size: 2rem;
  width: 33.33%;
  text-align: center;
}
.processbar__list li:first-child i::after {
  display: none;
}
.processbar__list i {
  color: #898989;
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
}
.processbar__list i::before {
  width: 4rem;
  height: 4rem;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  padding: 1rem;
}
.processbar__list i::after {
  width: 88%;
  content: "";
  height: 1px;
  position: absolute;
  background-color: gray;
  top: 50%;
  z-index: -1;
  left: -44%;
}

.cart {
  margin-top: 5rem;
}
.cart__title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #3fb871;
  font-family: "Arial";
  text-transform: uppercase;
}
.cart__table {
  width: 100%;
  margin-top: 4rem;
  font-family: "Arial";
  border: 1px solid #e1e1e1;
}
.cart__table tr {
  border: 1px solid #e1e1e1;
}
.cart__table tr th {
  border: 1px solid #e1e1e1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  font-size: 1.4rem;
  background-color: #3fb871;
}
.cart__table tr td {
  border: 1px solid #e1e1e1;
  text-align: center;
  vertical-align: middle;
  color: #898989;
  font-size: 1.6rem;
}
.cart__table tr td:nth-child(1) {
  width: 16.5%;
  padding: 2rem;
}
.cart__table tr td:nth-child(1) img {
  width: 100%;
}
.cart__table tr td:nth-child(2) {
  color: #3fb871;
}
.cart__table tr td:nth-child(4) button {
  border: 1px solid #898989;
  color: #898989;
  padding: 1rem 1.5rem;
}
.cart__actions {
  margin: 5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.cart__actions button {
  margin-left: 2rem;
}
.cart__actions button:nth-child(1) {
  color: #3fb871;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 1px solid #3fb871;
}
.cart__payments {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Arial Bold";
  font-size: 1.4rem;
  color: #3fb871;
  margin-bottom: 15rem;
}
.cart__payments table {
  margin-bottom: 3rem;
  border: 1px solid #e1e1e1;
  width: 55%;
}
.cart__payments table tr {
  border: 1px solid #e1e1e1;
  text-align: center;
  color: #3fb871;
}
.cart__payments table tr td {
  border: 1px solid #e1e1e1;
  padding: 3rem;
}
.cart__payments table tr:last-child {
  color: white;
  background-color: #3fb871;
}

@media only screen and (max-width: 767px) {
  .cart {
    margin-top: 3rem;
  }
  .cart__table {
    margin-top: 4rem;
    font-family: "Arial";
    border: 1px solid #e1e1e1;
  }
  .cart__table tr {
    border: 1px solid #e1e1e1;
  }
  .cart__table tr th {
    border: 1px solid #e1e1e1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-size: 1rem;
    background-color: #3fb871;
  }
  .cart__table tr td {
    border: 1px solid #e1e1e1;
    text-align: center;
    vertical-align: middle;
    color: #898989;
    font-size: 1rem;
  }
  .cart__table tr td:nth-child(1) {
    width: 16.5%;
    padding: 0.5rem;
  }
  .cart__table tr td:nth-child(1) img {
    width: 100%;
  }
  .cart__payments {
    font-size: 1.1rem;
    margin-bottom: 4rem;
  }
  .cart__payments table {
    width: 100%;
  }
  .cart__payments table tr {
    border: 1px solid #e1e1e1;
    text-align: center;
    color: #3fb871;
  }
  .cart__payments table tr td {
    border: 1px solid #e1e1e1;
    padding: 2rem;
  }
  .cart__payments table tr:last-child {
    color: white;
    background-color: #3fb871;
  }
}
.login__middle {
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.login__middle .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.login__form {
  width: 45%;
}
.login__form__title {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Arial";
  color: #3fb871;
  margin-bottom: 6rem;
}
.login__form__label {
  margin-bottom: 1.6rem;
  display: block;
  font-size: 1.4rem;
  font-family: "Arial";
  color: #898989;
}
.login__form__input {
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 1.5rem;
  margin-bottom: 3rem;
  outline: none;
}
.login__form__actions label {
  display: inline-block;
  font-size: 1.4rem;
  color: #555555;
  font-family: "Roboto Medium";
  margin-left: 1rem;
}
.login__form__actions a {
  display: inline-block;
  color: #898989;
  font-style: italic;
  font-size: 1.4rem;
  margin-left: 2rem;
  font-family: "Arial";
  text-decoration: underline;
}
.login__form__actions button {
  display: block;
  margin-top: 3.5em;
}
.login__question {
  width: 50%;
}
.login__question__desc {
  color: #898989;
  font-size: 1.4rem;
  font-family: "Arial";
  line-height: 2;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 767px) {
  .login__middle {
    margin-top: 0;
  }
  .login__form {
    width: 100%;
  }
  .login__form__title {
    margin-bottom: 3rem;
  }
  .login__question {
    width: 100%;
    margin-top: 4rem;
  }
}
.register {
  margin-bottom: 12rem;
}
.register__form {
  font-family: "Arial";
  color: #898989;
  width: 95%;
}
.register__form__title {
  font-size: 1.8rem;
  color: #3fb871;
  font-weight: bold;
  font-family: "Arial";
  margin-bottom: 3rem;
}
.register__form__container1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5rem;
}
.register__form__container2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.register__form__control {
  width: 47%;
  margin-bottom: 4rem;
}
.register__form__control input {
  padding: 1.5rem;
  border: 1px solid #e1e1e1;
  width: 100%;
  outline: none;
  color: #898989;
}
.register__form__label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #898989;
}
.register__form__label span {
  color: red;
}
.register__form__check {
  width: 100%;
  font-size: 1.2rem;
}
.register__form__check input {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
}
.register__form__action button:first-child {
  margin-right: 2rem;
}

@media only screen and (max-width: 767px) {
  .register__form__control {
    width: 100%;
  }
  .register__form__action {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.contact__map iframe {
  width: 100%;
  height: 45rem;
}
.contact__form {
  margin-top: 6rem;
  margin-bottom: 12rem;
}
.contact__form .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.contact__form__left {
  width: 48%;
}
.contact__form__left .register__form__label {
  font-family: "Arial";
  color: #555555;
}
.contact__form__left .register__form__control {
  width: 100%;
}
.contact__form__right {
  width: 48%;
  font-size: 1.2rem;
  font-family: "Arial";
  color: #898989;
}
.contact__form__right .contact__desc {
  font-size: 1.2rem;
  margin-bottom: 4rem;
  line-height: 1.5;
}
.contact__form__right div {
  margin-bottom: 2rem;
}
.contact__form__right i {
  color: #3fb871;
  margin-right: 1.5rem;
}

.textarea__contact {
  color: #898989;
  width: 100%;
  padding: 1.5rem;
  font-family: "Arial";
  border: 1px solid #e1e1e1;
}

@media only screen and (max-width: 767px) {
  .contact__form {
    margin-bottom: 5rem;
  }
  .contact__form__left {
    width: 100%;
  }
  .contact__form__right {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
