
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../../CSS/main.css"/>
    <link rel="stylesheet" href="../../CSS/reset.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="wrapper">
      <section class="header">
        <div class="container">
          <div class="header__top">
            <div class="header__top-1">
              <div class="header__time"> 
                <p class="gray-text--light">Open time : 8:00 - 18:30 Monday - Sunday</p>
              </div>
                    <ul class="header__contact">
                      <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="header__contact__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li class="header__contact__item"><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                      <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
            </div>
            <div class="header__top-2"><a class="header__login" href="./login.html"><i class="fas fa-user"></i>Đăng nhập</a><a class="header__register" href="./register.html"><i class="fas fa-user"></i>Đăng ký</a></div>
          </div>
        </div>
        <div class="header__middle">
          <div class="container">
            <div class="header__middle__img">
                    <div class="header__middle__logo"><img class="header__middle__logo--desktop" src="../../IMG/logo.png" alt=""/><img class="header__middle__logo--mobile" src="../../IMG/logo-mobile.png" alt=""/>
                      <p class="header__textlogo">Món quà từ thiên nhiên                    </p>
                    </div>
              <div class="header__middle__img2">
                <div><img src="../../IMG/HEADER/img-1.png" alt=""/></div>
                <div><img src="../../IMG/HEADER/img-2.png" alt=""/></div>
              </div>
            </div>
            <div class="header__middle__search">
              <div class="header__middle__form">
                <p> <i class="fas fa-phone"></i>Hỗ trợ : (09) 79475216 - (09) 79475216</p>
                <form action="">
                  <div class="header__middle__form--1">
                    <input type="text" name="a" placeholder="Tìm kiếm ..."/><i class="fas fa-search"></i>
                  </div>
                  <div class="header__middle__form--2"><a href="./cart.html"><img src="../../IMG/HEADER/sp.png" alt=""/></a>
                    <p> <span id="productQuantityInCart">0     </span>Sản phẩm</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <nav class="header__nav">
          <div class="container">
            <ul class="nav__list">
              <li class="nav__item"><a href="#"><img src="../../IMG/HEADER/icon_collapse.png" alt=""/></a></li>
              <li class="nav__item"><a href="./home.html">Trang chủ</a></li>
              <li class="nav__item"><a href="./grid.html">Giới thiệu</a></li>
              <li class="nav__item nav__item--list"><a class="nav__item--drop" href="./list.html">Sản phẩm</a>
                <ul class="dropdown">
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#">Sản phẩm</a></li>
                </ul>
              </li>
              <li class="nav__item nav__item--list"><a class="nav__item--drop" href="#">Sản phẩm mới</a>
                <ul class="dropdown">
                  <li><a href="#">Sản phẩm mới</a></li>
                  <li><a href="#">Sản phẩm mới</a></li>
                  <li><a href="#">Sản phẩm mới</a></li>
                </ul>
              </li>
              <li class="nav__item"><a href="./news.html">Tin tức</a></li>
              <li class="nav__item"><a href="./contact.html">Liên hệ</a></li>
            </ul>
          </div>
          <div class="nav__mobile"> 
            <div class="nav__mobile--1"><a class="nav__mobile__collapse" href="#"><img src="../../IMG/HEADER/icon_collapse.png" alt=""/></a>
              <ul class="nav__mobile__list">
                <li class="nav__mobile__item"><a href="#">Trang chủ</a></li>
                <li class="nav__mobile__item"><a href="#">Sản phẩm</a></li>
                <li class="nav__mobile__item"><a href="#">Sản phẩm mới</a></li>
                <li class="nav__mobile__item"><a href="#">Liên hệ</a></li>
                <li class="nav__mobile__item"><a href="#">Tin tức</a></li>
              </ul>
            </div>
            <div class="nav__mobile--2"><i class="fas fa-search"></i><img src="../../IMG/HEADER/icon-mobile.png" alt=""/></div>
          </div>
        </nav>
      </section>
      <section class="pop-up" id="xmas-popup">
        <div class="pop-up__content">
          <div class="pop-up__content__img"><img src="../../IMG/POPUP/flowers.png" alt="asd"/></div>
          <div class="pop-up__content__right"><img src="../../IMG/POPUP/Nhận tin tức từ chúng tôi.png" alt=""/>
            <h3 class="pop-up__content__title">ĐĂNG KÍ EMAIL NGAY HÔM NAY</h3>
            <form class="pop-up__content__form" action="">
              <input type="text" placeholder="Nhập email của bạn vào đây"/>
              <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
            <p class="pop-up__content__desc">
              Đăng ký email ngay hôm nay để nhận các thông tin về sự kiệnvà các trương chình giảm giá từ chúng tôi</p>
            <div class="pop-up__content__check">
              <input type="checkbox" name="âs"/>
              <label for="">Không hiển thị thông báo này nữa</label>
            </div><a class="pop-up__close" href="#">X</a>
          </div>
        </div>
      </section>
      <section class="pop-up" id="xmas-popup">
        <div class="pop-up__content">
          <div class="pop-up__content__img"><img src="../../IMG/POPUP/flowers.png" alt="asd"/></div>
          <div class="pop-up__content__right"><img src="../../IMG/POPUP/Nhận tin tức từ chúng tôi.png" alt=""/>
            <h3 class="pop-up__content__title">ĐĂNG KÍ EMAIL NGAY HÔM NAY</h3>
            <form class="pop-up__content__form" action="">
              <input type="text" placeholder="Nhập email của bạn vào đây"/>
              <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
            <p class="pop-up__content__desc">
              Đăng ký email ngay hôm nay để nhận các thông tin về sự kiệnvà các trương chình giảm giá từ chúng tôi</p>
            <div class="pop-up__content__check">
              <input type="checkbox" name="âs"/>
              <label for="">Không hiển thị thông báo này nữa</label>
            </div><a class="pop-up__close" href="#">X</a>
          </div>
        </div>
      </section>
      <section class="carousel"><img src="../../IMG/HEADER/slide-1920x590.png" alt="sas"/>
        <ul class="carousel__btn">
          <li class="carousel__btn__item"> </li>
          <li class="carousel__btn__item"> </li>
          <li class="carousel__btn__item"> </li>
        </ul>
      </section>
      <section class="hot-product">
        <div class="container">
          <div class="hot-product__top"> 
            <p class="hot-product__title">Sản phẩm nổi bật</p>
          </div>
          <div class="hot-product__list">
            <div class="hot-product__list1">
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                  <button class="btn btn--circle btn--primary discount">NEW</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-6.png" alt=""/>
                  <button class="btn btn--circle btn--red discount">50%</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây cọ ta</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">150.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây dứa nhỏ</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">375.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
            </div>
            <div class="hot-product__list2">
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                  <button class="btn btn--circle btn--primary discount">NEW</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-6.png" alt=""/>
                  <button class="btn btn--circle btn--red discount">50%</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây cọ ta</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">150.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây dứa nhỏ</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">375.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="hot-product1">
        <div class="container"> 
          <div class="hot-product1__part1">
            <div class="hot-product__top">
              <p class="hot-product__title">Sản phẩm nổi bật</p>
              <div class="panigation"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="hot-product1__list1">
              <div class="card-small"><img src="../../IMG/spx2-4.png" alt=""/>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card-small"><img src="../../IMG/spx2-4.png" alt=""/>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card-small"><img src="../../IMG/spx2-4.png" alt=""/>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card-small"><img src="../../IMG/spx2-6.png" alt=""/>
                <div class="card__content">
                  <p class="card__content__desc">Cây cọ ta</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">150.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card-small"><img src="../../IMG/spx2-11.png" alt=""/>
                <div class="card__content">
                  <p class="card__content__desc">Cây dứa nhỏ</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">375.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card-small"><img src="../../IMG/spx2-11.png" alt=""/>
                <div class="card__content">
                  <p class="card__content__desc">Cây dứa nhỏ</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">375.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="hot-product1__part2">
            <div class="hot-product__top">
              <p class="hot-product__title">Sản phẩm khuyến mãi</p>
              <div class="panigation"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="hot-product1__list2">
              <div class="hot-product1__list2--desktop">
                <div class="card">
                  <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                    <button class="btn btn--circle btn--primary discount">NEW</button>
                    <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                      <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  <div class="card__content">
                    <p class="card__content__desc">Cây chân chim</p>
                    <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                    </ul>
                    <p class="card__content__price">250.000  đ 
                      <del>250.000 đ</del>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                    <button class="btn btn--circle btn--primary discount">NEW</button>
                    <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                      <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  <div class="card__content">
                    <p class="card__content__desc">Cây chân chim</p>
                    <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                    </ul>
                    <p class="card__content__price">250.000  đ 
                      <del>250.000 đ</del>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card__action"><img src="../../IMG/spx2-6.png" alt=""/>
                    <button class="btn btn--circle btn--red discount">50%</button>
                    <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                      <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  <div class="card__content">
                    <p class="card__content__desc">Cây cọ ta</p>
                    <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                    </ul>
                    <p class="card__content__price">150.000  đ 
                      <del>250.000 đ</del>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                    <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                      <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  <div class="card__content">
                    <p class="card__content__desc">Cây dứa nhỏ</p>
                    <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                    </ul>
                    <p class="card__content__price">375.000  đ 
                      <del>250.000 đ</del>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card__action"><img src="../../IMG/spx2-6.png" alt=""/>
                    <button class="btn btn--circle btn--red discount">50%</button>
                    <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                      <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  <div class="card__content">
                    <p class="card__content__desc">Cây cọ ta</p>
                    <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                    </ul>
                    <p class="card__content__price">150.000  đ 
                      <del>250.000 đ</del>
                    </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                    <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                      <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  <div class="card__content">
                    <p class="card__content__desc">Cây dứa nhỏ</p>
                    <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                    </ul>
                    <p class="card__content__price">375.000  đ 
                      <del>250.000 đ</del>
                    </p>
                  </div>
                </div>
              </div>
              <div class="hot-product1__list2--mobile">
                <div class="card">
                  <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                    <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                      <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  <div class="card__content">
                    <p class="card__content__desc">Cây dứa nhỏ</p>
                    <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                    </ul>
                    <p class="card__content__price">375.000  đ 
                      <del>250.000 đ</del>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="banner">
        <div class="container"><img class="banner__img" src="../../IMG/HEADER/banner-11140x217.png" alt=""/></div>
      </section>
      <section class="new-product">
        <div class="container">
          <div class="hot-product__top">
            <p class="hot-product__title">Sản phẩm khuyến mãi</p>
            <div class="panigation"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></div>
          </div>
          <div class="new-product__list">
            <div class="new-product__list--desktop"> 
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                  <button class="btn btn--circle btn--primary discount">NEW</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                  <button class="btn btn--circle btn--primary discount">NEW</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                  <button class="btn btn--circle btn--primary discount">NEW</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-4.png" alt=""/>
                  <button class="btn btn--circle btn--primary discount">NEW</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây chân chim</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">250.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-6.png" alt=""/>
                  <button class="btn btn--circle btn--red discount">50%</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây cọ ta</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">150.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây dứa nhỏ</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">375.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-6.png" alt=""/>
                  <button class="btn btn--circle btn--red discount">50%</button>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây cọ ta</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">150.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây dứa nhỏ</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">375.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
            </div>
            <div class="new-product__list--mobile">
              <div class="card">
                <div class="card__action"><img src="../../IMG/spx2-11.png" alt=""/>
                  <div class="card__action__content"><a class="btn btn--primary btn--rounded" href="./detail-product.html">MUA NGAY </a>
                    <button class="btn btn--circle55"><i class="fas fa-search"></i></button>
                  </div>
                </div>
                <div class="card__content">
                  <p class="card__content__desc">Cây dứa nhỏ</p>
                  <ul class="card__content__star"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card__content__price">375.000  đ 
                    <del>250.000 đ</del>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="news">
        <div class="container">
          <div class="hot-product__top">
            <p class="hot-product__title">Tin tức</p>
            <div class="panigation"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></div>
          </div>
          <div class="news__list">
            <div class="news__card"><img src="../../IMG/HEADER/news-1.png" alt=""/>
              <div class="news__card__content"><i class="news__card__time">Thứ 7 ,ngày 31, tháng 12, năm 2015</i>
                <h4 class="news__card__title">15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê </h4>
                <p class="news__card__desc">Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng nhất hiện nay nhé.</p><i class="news__card__more">Đọc tiếp</i>
              </div>
            </div>
            <div class="news__card"><img src="../../IMG/HEADER/news-2.png" alt=""/>
              <div class="news__card__content"><i class="news__card__time">Thứ 7 ,ngày 31, tháng 12, năm 2015</i>
                <h4 class="news__card__title">Tạo Tiểu Cảnh Góc Sân Cho Nhà Phố, Biệt Thự Đẹp</h4>
                <p class="news__card__desc">Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng nhất hiện nay nhé.</p><i class="news__card__more">Đọc tiếp</i>
              </div>
            </div>
            <div class="news__card"><img src="../../IMG/HEADER/news-3.png" alt=""/>
              <div class="news__card__content"><i class="news__card__time">Thứ 7 ,ngày 31, tháng 12, năm 2015</i>
                <h4 class="news__card__title">Cách bố trí hoa chậu trước cửa ấn tượng</h4>
                <p class="news__card__desc">Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng nhất hiện nay nhé.</p><i class="news__card__more">Đọc tiếp</i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--footer-->
      <div class="footer"> 
        <div class="footer__border">
          <div class="container">
            <div class="footer__contact">
              <div class="footer__contact-1">
                <p>Kênh thông tin từ chúng tôi:</p>
                      <ul class="header__contact">
                        <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="header__contact__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="header__contact__item"><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      </ul>
              </div>
              <div class="footer__contact-2">
                <p>Đăng kí nhận email từ chúng tôi</p>
              </div>
              <div class="footer__contact-3">
                <form action="">
                  <div>
                    <input type="text" name="" placeholder="Email..."/><a class="fas fa-paper-plane" href="#xmas-popup"></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__border">
          <div class="container">
            <div class="footer__middle"> 
              <div class="footer__middle-1">
                      <div class="header__middle__logo"><img class="header__middle__logo--desktop" src="../../IMG/logo.png" alt=""/><img class="header__middle__logo--mobile" src="../../IMG/logo-mobile.png" alt=""/>
                        <p class="header__textlogo">Món quà từ thiên nhiên                    </p>
                      </div>
                <p class="footer__text">Green shop được thành lập từ 8/2010 được sự tin tưởng của khách trong suot thời gian hoạt động đến nay cửa hàng ngày càng phát triển</p>
                <div><i class="fas fa-mobile-alt"> </i><span>Điện thoại: (84-4) 0979475124</span></div>
                <div><i class="far fa-envelope"></i><span>Email: dangxuanthangqt@gmail.com</span></div>
              </div>
              <ul class="footer__middle-2">
                <li class="middle-2__item">
                  <p class="middle-2__title">THÔNG TIN KHÁCH HÀNG</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tài khoản của tôi</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Sản phẩm yêu thích</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Lịch sử mua hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách đổi trả</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Góp ý, khiếu nại</span></li>
                        </ul>
                </li>
                <li class="middle-2__item">
                  <p class="middle-2__title">HỖ TRỢ DỊCH VỤ</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Hệ thống cửa hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Hướng dẫn mua hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Hướng dẫn thanh toán</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tích điểm đổi quà</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Câu hỏi thường gặp</span></li>
                        </ul>
                </li>
                <li class="middle-2__item">
                  <p class="middle-2__title">CHÍNH SÁCH ƯU ĐÃI</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách giao hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách đổi trả</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách bảo hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Giới thiệu sản phẩm mới</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách trả góp</span></li>
                        </ul>
                </li>
                <li class="middle-2__item">
                  <p class="middle-2__title">TIN TỨC</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tin mới</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Khuyến mại</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tuyển dụng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Download</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tags</span></li>
                        </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="footer__bottom">
            <ul class="footer__bottom-1">
              <li>Sitemap</li>
              <li>Danh mục sản phẩm</li>
              <li>Hợp tác</li>
              <li>Thông tin liên hệ</li>
              <li>Câu hỏi thường gặp</li>
            </ul>
            <ul class="footer__bottom-2">
              <li class="fab fa-cc-visa"></li>
              <li class="fab fa-cc-mastercard"></li>
              <li class="fab fa-cc-paypal"></li>
              <li class="fab fa-cc-paypal"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>