
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../../CSS/main.css"/>
    <link rel="stylesheet" href="../../CSS/reset.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="wrapper">
      <section class="header">
        <div class="container">
          <div class="header__top">
            <div class="header__top-1">
              <div class="header__time"> 
                <p class="gray-text--light">Open time : 8:00 - 18:30 Monday - Sunday</p>
              </div>
              <ul class="header__contact">
                <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="header__contact__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="header__contact__item"><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </div>
            <div class="header__top-2">
              <div class="header__login"><i class="fas fa-user"></i>Đăng nhập</div>
              <div class="header__register"><i class="fas fa-user"></i>Đăng ký</div>
            </div>
          </div>
        </div>
        <div class="header__middle">
          <div class="container">
            <div class="header__middle__img">
              <div class="header__middle__logo"><img class="header__middle__logo--desktop" src="../../IMG/logo.png" alt=""/><img class="header__middle__logo--mobile" src="../../IMG/logo-mobile.png" alt=""/>
                <p class="header__textlogo">Món quà từ thiên nhiên</p>
              </div>
              <div class="header__middle__img2">
                <div><img src="../../IMG/HEADER/img-1.png" alt=""/></div>
                <div><img src="../../IMG/HEADER/img-2.png" alt=""/></div>
              </div>
            </div>
            <div class="header__middle__search">
              <div class="header__middle__form">
                <p> <i class="fas fa-phone"></i>Hỗ trợ : (09) 79475216 - (09) 79475216</p>
                <form action="">
                  <div class="header__middle__form--1">
                    <input type="text" name="a" placeholder="Tìm kiếm ..."/><i class="fas fa-search"></i>
                  </div>
                  <div class="header__middle__form--2"><img src="../../IMG/HEADER/sp.png" alt=""/>
                    <p>0 Sản phẩm</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <nav class="header__nav">
          <div class="container">
            <ul class="nav__list">
              <li class="nav__item"><a href="#"><img src="../../IMG/HEADER/icon_collapse.png" alt=""/></a></li>
              <li class="nav__item"><a href="#">Trang chủ</a></li>
              <li class="nav__item"><a href="#">Giới thiệu</a></li>
              <li class="nav__item nav__item--list"><a class="nav__item--drop" href="#">Sản phẩm</a>
                <ul class="dropdown">
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#">Sản phẩm</a></li>
                </ul>
              </li>
              <li class="nav__item nav__item--list"><a class="nav__item--drop" href="#">Sản phẩm mới</a>
                <ul class="dropdown">
                  <li><a href="#">Sản phẩm mới</a></li>
                  <li><a href="#">Sản phẩm mới</a></li>
                  <li><a href="#">Sản phẩm mới</a></li>
                </ul>
              </li>
              <li class="nav__item"><a href="#">Tin tức</a></li>
              <li class="nav__item"><a href="#">Liên hệ</a></li>
            </ul>
          </div>
        </nav>
      </section>
    </div>
  </body>
</html>