
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../../CSS/main.css"/>
    <link rel="stylesheet" href="../../CSS/reset.css"/>
  </head>
  <body>
    <div class="roboto--bold">dang xuan thang</div>
    <div class="roboto--regular">dang xuan thang</div>
    <div class="roboto--medium">dang xuan thang</div>
    <div class="segoe-ui">  aaaaaaaaaaaaaaaaaaaaaaaaaa dang xuan thang</div>
  </body>
</html>