
<html lang="en">
  <head>
    <title>List</title>
    <!-- Required meta tags-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../../CSS/main.css"/>
    <link rel="stylesheet" href="../../CSS/reset.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="wrapper">
      <section class="header">
        <div class="container">
          <div class="header__top">
            <div class="header__top-1">
              <div class="header__time"> 
                <p class="gray-text--light">Open time : 8:00 - 18:30 Monday - Sunday</p>
              </div>
                    <ul class="header__contact">
                      <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="header__contact__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li class="header__contact__item"><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                      <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
            </div>
            <div class="header__top-2">
              <div class="header__login"><i class="fas fa-user"></i>Đăng nhập</div>
              <div class="header__register"><i class="fas fa-user"></i>Đăng ký</div>
            </div>
          </div>
        </div>
        <div class="header__middle">
          <div class="container">
            <div class="header__middle__img">
                    <div class="header__middle__logo"><img class="header__middle__logo--desktop" src="../../IMG/logo.png" alt=""/><img class="header__middle__logo--mobile" src="../../IMG/logo-mobile.png" alt=""/>
                      <p class="header__textlogo">Món quà từ thiên nhiên                    </p>
                    </div>
              <div class="header__middle__img2">
                <div><img src="../../IMG/HEADER/img-1.png" alt=""/></div>
                <div><img src="../../IMG/HEADER/img-2.png" alt=""/></div>
              </div>
            </div>
            <div class="header__middle__search">
              <div class="header__middle__form">
                <p> <i class="fas fa-phone"></i>Hỗ trợ : (09) 79475216 - (09) 79475216</p>
                <form action="">
                  <div class="header__middle__form--1">
                    <input type="text" name="a" placeholder="Tìm kiếm ..."/><i class="fas fa-search"></i>
                  </div>
                  <div class="header__middle__form--2"><img src="../../IMG/HEADER/sp.png" alt=""/>
                    <p>0 Sản phẩm</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <nav class="header__nav">
          <div class="container">
            <ul class="nav__list">
              <li class="nav__item"><a href="#"><img src="../../IMG/HEADER/icon_collapse.png" alt=""/></a></li>
              <li class="nav__item"><a href="#">Trang chủ</a></li>
              <li class="nav__item"><a href="#">Giới thiệu</a></li>
              <li class="nav__item nav__item--list"><a class="nav__item--drop" href="#">Sản phẩm</a>
                <ul class="dropdown">
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#">Sản phẩm</a></li>
                </ul>
              </li>
              <li class="nav__item nav__item--list"><a class="nav__item--drop" href="#">Sản phẩm mới</a>
                <ul class="dropdown">
                  <li><a href="#">Sản phẩm mới</a></li>
                  <li><a href="#">Sản phẩm mới</a></li>
                  <li><a href="#">Sản phẩm mới</a></li>
                </ul>
              </li>
              <li class="nav__item"><a href="#">Tin tức</a></li>
              <li class="nav__item"><a href="#">Liên hệ</a></li>
            </ul>
            <div class="nav__mobile"> 
              <div class="nav__mobile--1"><a href="#"><img src="../../IMG/HEADER/icon_collapse.png" alt=""/></a></div>
              <div class="nav__mobile--2"><i class="fas fa-search"></i><img src="../../IMG/HEADER/icon-mobile.png" alt=""/></div>
            </div>
          </div>
        </nav>
      </section>
      <section class="breadcrum">
        <div class="container"><a class="bread-crumb" href="./home.html">Home | </a><a class="bread-crumb bread-crumb--active" href="./home.html">Danh sách sản phẩm</a>
        </div>
      </section>
      <section class="grid-content">
        <div class="container">
          <div class="grid-content__catalog">
            <div class="catalog__top">
              <div class="catalog__title"> 
                <h4>Danh mục sản phẩm</h4>
              </div>
              <ul class="catalog__list">
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>Cây chậu treo (10)</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>Cây có hoa</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>Cây dây leo</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>Cây để bán</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>Cây măy mắn</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>Cây trang trí</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>Cây nội thất</a></li>
              </ul>
            </div>
            <div class="catalog__search-price">
              <div class="catalog__title"> 
                <h4>Tìm theo giá</h4>
              </div>
              <ul class="catalog__list">
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>200.000 Đ - 400.000 Đ</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>400.000 Đ - 600.000 Đ</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>800.000 Đ - 1.000.000 Đ</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>1.000.000 Đ - 1.200.000 Đ</a></li>
                <li class="catalog__item"><i class="fas fa-angle-right"></i><a>1.000.000 Đ - 1.200.000 Đ</a></li>
              </ul>
            </div>
            <div class="catalog__search-color">
              <div class="catalog__title"> 
                <h4>Tìm theo màu</h4>
              </div>
              <ul class="search-color__list">
                <li class="search-color__item"><i class="fas fa-circle color--purple"></i><a class="search-color__link">Màu tím</a></li>
                <li class="search-color__item"><i class="fas fa-circle color--yellow"></i><a class="search-color__link">Màu vàng</a></li>
                <li class="search-color__item"><i class="fas fa-circle color--green"></i><a class="search-color__link">Màu xanh cây</a></li>
                <li class="search-color__item"><i class="fas fa-circle color--blue"></i><a class="search-color__link">Màu xanh dương</a></li>
                <li class="search-color__item"><i class="fas fa-circle color--orange"></i><a class="search-color__link">Màu cam</a></li>
                <li class="search-color__item"><i class="fas fa-circle color--pink"></i><a class="search-color__link">Màu hồng</a></li>
              </ul>
            </div>
          </div>
          <div class="grid-content__list"><img src="../../IMG/GRID/banner.png" alt=""/>
            <div class="grid-content__filter">
              <div class="grid-content__filter1"><i class="fas fa-th"></i><i class="fas fa-th-list"></i></div>
              <div class="grid-content__filter2">
                <form action="">
                  <label>Sắp xếp theo:</label><select name="producs" id="products">
<option value="name">Tên sản phẩm</option>
</select>
                </form>
                <form action="">
                  <label>Show:</label><select name="quantiti" id="quantiti">
<option value="quantiti">15</option>
</select>
                </form>
              </div>
            </div>
            <div class="list-card">
              <div class="card-horizontal"><img src="../../IMG/spx2-4.png" alt=""/>
                <div class="card-horizontal__content">
                  <h4 class="card-horizontal__name">Cây ngọc ngân</h4>
                  <ul class="card-horizontal__stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card-horizontal__desc">Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.</p>
                  <p class="card-horizontal__price">250.000 Đ</p>
                  <div class="card-horizontal__actions">
                    <button class="btn btn--primary btn--rounded">MUA NGAY</button><i class="fas fa-search"></i><i class="fas fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-horizontal"><img src="../../IMG/spx2-8.png" alt=""/>
                <div class="card-horizontal__content">
                  <h4 class="card-horizontal__name">Cây ngọc ngân</h4>
                  <ul class="card-horizontal__stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card-horizontal__desc">Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.</p>
                  <p class="card-horizontal__price">250.000 Đ</p>
                  <div class="card-horizontal__actions">
                    <button class="btn btn--primary btn--rounded">MUA NGAY</button><i class="fas fa-search"></i><i class="fas fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-horizontal"><img src="../../IMG/spx2-9.png" alt=""/>
                <div class="card-horizontal__content">
                  <h4 class="card-horizontal__name">Cây ngọc ngân</h4>
                  <ul class="card-horizontal__stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card-horizontal__desc">Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.</p>
                  <p class="card-horizontal__price">250.000 Đ</p>
                  <div class="card-horizontal__actions">
                    <button class="btn btn--primary btn--rounded">MUA NGAY</button><i class="fas fa-search"></i><i class="fas fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-horizontal"><img src="../../IMG/spx2-10.png" alt=""/>
                <div class="card-horizontal__content">
                  <h4 class="card-horizontal__name">Cây ngọc ngân</h4>
                  <ul class="card-horizontal__stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card-horizontal__desc">Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.</p>
                  <p class="card-horizontal__price">250.000 Đ</p>
                  <div class="card-horizontal__actions">
                    <button class="btn btn--primary btn--rounded">MUA NGAY</button><i class="fas fa-search"></i><i class="fas fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-horizontal"><img src="../../IMG/spx2-11.png" alt=""/>
                <div class="card-horizontal__content">
                  <h4 class="card-horizontal__name">Cây ngọc ngân</h4>
                  <ul class="card-horizontal__stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                  </ul>
                  <p class="card-horizontal__desc">Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.</p>
                  <p class="card-horizontal__price">250.000 Đ</p>
                  <div class="card-horizontal__actions">
                    <button class="btn btn--primary btn--rounded">MUA NGAY</button><i class="fas fa-search"></i><i class="fas fa-heart"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-content__pagination">
              <p>Trang trước</p>
              <ul class="grid-content__pagination__list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
              </ul>
              <p>Trang sau</p>
            </div>
          </div>
        </div>
      </section>
      <!--footer-->
      <div class="footer"> 
        <div class="footer__border">
          <div class="container">
            <div class="footer__contact">
              <div class="footer__contact-1">
                <p>Kênh thông tin từ chúng tôi:</p>
                      <ul class="header__contact">
                        <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="header__contact__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="header__contact__item"><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        <li class="header__contact__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      </ul>
              </div>
              <div class="footer__contact-2">
                <p>Đăng kí nhận email từ chúng tôi</p>
              </div>
              <div class="footer__contact-3">
                <form action="">
                  <div>
                    <input type="text" name="" placeholder="Email..."/><i class="fas fa-paper-plane"></i>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__border">
          <div class="container">
            <div class="footer__middle"> 
              <div class="footer__middle-1">
                      <div class="header__middle__logo"><img class="header__middle__logo--desktop" src="../../IMG/logo.png" alt=""/><img class="header__middle__logo--mobile" src="../../IMG/logo-mobile.png" alt=""/>
                        <p class="header__textlogo">Món quà từ thiên nhiên                    </p>
                      </div>
                <p class="footer__text">Green shop được thành lập từ 8/2010 được sự tin tưởng của khách trong suot thời gian hoạt động đến nay cửa hàng ngày càng phát triển</p>
                <div><i class="fas fa-mobile-alt"> </i><span>Điện thoại: (84-4) 0979475124</span></div>
                <div><i class="far fa-envelope"></i><span>Email: dangxuanthangqt@gmail.com</span></div>
              </div>
              <ul class="footer__middle-2">
                <li class="middle-2__item">
                  <p class="middle-2__title">THÔNG TIN KHÁCH HÀNG</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tài khoản của tôi</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Sản phẩm yêu thích</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Lịch sử mua hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách đổi trả</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Góp ý, khiếu nại</span></li>
                        </ul>
                </li>
                <li class="middle-2__item">
                  <p class="middle-2__title">HỖ TRỢ DỊCH VỤ</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Hệ thống cửa hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Hướng dẫn mua hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Hướng dẫn thanh toán</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tích điểm đổi quà</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Câu hỏi thường gặp</span></li>
                        </ul>
                </li>
                <li class="middle-2__item">
                  <p class="middle-2__title">CHÍNH SÁCH ƯU ĐÃI</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách giao hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách đổi trả</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách bảo hàng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Giới thiệu sản phẩm mới</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Chính sách trả góp</span></li>
                        </ul>
                </li>
                <li class="middle-2__item">
                  <p class="middle-2__title">TIN TỨC</p>
                        <ul class="item-list">
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tin mới</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Khuyến mại</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tuyển dụng</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Download</span></li>
                          <li class="item-list__item"><i class="fas fa-angle-right"></i><span>Tags</span></li>
                        </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="footer__bottom">
            <ul class="footer__bottom-1">
              <li>Sitemap</li>
              <li>Danh mục sản phẩm</li>
              <li>Hợp tác</li>
              <li>Thông tin liên hệ</li>
              <li>Câu hỏi thường gặp</li>
            </ul>
            <ul class="footer__bottom-2">
              <li class="fab fa-cc-visa"></li>
              <li class="fab fa-cc-mastercard"></li>
              <li class="fab fa-cc-paypal"></li>
              <li class="fab fa-cc-paypal"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>