section#xmas-popup.pop-up
    .pop-up__content
        .pop-up__content__img
            img(src="../../IMG/POPUP/flowers.png" alt="asd")
        .pop-up__content__right
            img(src="../../IMG/POPUP/Nhận tin tức từ chúng tôi.png" alt="")
            h3.pop-up__content__title ĐĂNG KÍ EMAIL NGAY HÔM NAY
            form.pop-up__content__form(action="")
                input(type="text" placeholder="Nhập email của bạn vào đây")
                button(type="submit")
                    i(class="fas fa-paper-plane")
            p.pop-up__content__desc Đăng ký email ngay hôm nay để nhận các thông tin về sự kiện
                | và các trương chình giảm giá từ chúng tôi
            .pop-up__content__check
                input(type="checkbox" name="âs")
                label(for="") Không hiển thị thông báo này nữa
            a.pop-up__close(href="#") X
