.pop-up{
    &:target{
        display: block;
    }
    display: none;
    z-index: 9998;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    // display: none;
   
    &__close{
        padding: 0;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        border: none;
        color: $primary-color;
        cursor: pointer;
        font-size: 1.8rem;
        outline: none;
    }
    &__content{
        position: relative;
        background-color: $gray-popup;
        @include flexbox(center,center);
        padding-top: 8rem;
        padding-bottom: 6.5rem;
        max-width: 80rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $gray-light-text;
        font-family: "Arial";
        &__right{
            width: 48.125%;
        }
        &__img{
            width: 46.25%;
        }
        &__title{
            font-size: 2.3rem;
            color: $primary-color;
            font-family: "Arial";
            font-weight: bold;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
        }
        &__form{
            @include flexbox();
            width: 100%;
            input{
                width: 85%;
                outline: none;
                padding: 1.5rem;
                border: 1px solid $gray-border;
            }
            button{
                width: 15%;
                color: white;
                background-color: $primary-color;
                padding: 1.5rem;
                border: 1px solid $gray-border;
            }
        }
        &__desc{
            font-size: 1.4rem;
            line-height: 1.5;
            margin-top: 2rem;

        }
        &__check{
            margin-top: 3rem;
            label{
                font-size: 1.4rem;
                
            }
            input{
                border: 1px solid $gray-border;
            }
        }
    }
}
@include media-mobile{
    .pop-up{
        &:target{
            display: none;
        }
    }
}