extends ../LAYOUT/common-layout.pug
//-----------
mixin bread-crumb(val)
    a.bread-crumb(href="./home.html") Home | 
    a.bread-crumb.bread-crumb--active(href="./home.html")=val
block title 
    title Login
block content
    section.breadcrumb
        .container
            +bread-crumb("Đăng nhập")
    section.login__middle
        .container
            .login__form
                h3.login__form__title THÔNG TIN CÁ NHÂN
                form(action="")
                    label.login__form__label(for="") Email của bạn
                    input.login__form__input(type="text" placeholder ="Email")
                    label.login__form__label(for="") Mật khẩu
                    input.login__form__input(type="password" placeholder ="Password")
                    .login__form__actions
                        input(type="checkbox")
                        label Ghi nhớ tài khoản
                        a(href="#") Bạn quên mật khẩu ?
                        button.btn.btn--primary.btn--rounded(type="submit") ĐĂNG NHẬP
            .login__question
                h3.login__form__title BẠN CHƯA CÓ TÀI KHOẢN ?
                p.login__question__desc Đăng ký tài khoản ngay để có thể mua hàng nhanh chóng và dễ dàng hơn ! Ngoài ra có rất nhiều chính sách và ưu đãi cho các thành viên citybike.
                button.btn.btn--primary.btn--rounded ĐĂNG KÝ