@import './variable.scss';

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    // width: 100%;

    display: block;
    object-fit: cover;
}

a {
    display: block;
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &--3 {
        -webkit-line-clamp: 3;
    }

    &--4 {
        -webkit-line-clamp: 4;
    }

    &--5 {
        -webkit-line-clamp: 5;
    }
}

.wrapper {
    max-width: 192rem;
    margin: 0 auto;
}

.container {
    max-width: 117rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.gray-text {
    color: $gray-text;

    &--light {
        color: $gray-light-text;
    }
}

.btn {
    color: white;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    outline: none;
    font-size: 1.6rem;

    border: none;

    &--primary {
        background-color: $primary-color;
        padding: 1.5rem 3rem;

        &:hover {
            background-color: $primary-color-hover;
        }
    }

    &--rounded {
        border-radius: 2rem;
    }

    &--circle {
        border-radius: 50%;
    }

    &--circle55 {
        border-radius: 50%;
        width: 5.5rem;
        height: 5.5rem;
    }

    &--red {
        background-color: $red-color;
    }
}

.color {
    &--green {
        color: #98cb4a;
    }

    &--orange {
        color: #f76d3c;
    }

    &--purple {
        color: #913ccd;
    }

    &--pink {
        color: #f15f74;
    }

    &--yellow {
        color: #f7d842;
    }

    &--blue {
        color: #5481e6;
    }
}