$primary-color : #3fb871;
$black-color : #202020;
$gray-color : #313131;
$red-color : #d64146;

//hover
$primary-color-hover: #36a671;
$card-hover: #bbbbbb;
//text color
$red-text : #ed1c24;
$gray-text:#555555;
$gray-light-text: #898989;
$star-color : #febf01;
$gray-border : #e1e1e1;