-var p1 ="Tên phổ thông: Dạ lam, Huỳnh tinh cảnh, Dong vằn."
-var p2 ="Tên khoa học: Calathea zebrina"
-var p3 ="Họ thực vật: Marantaceae (Củ dong)."
-var p4 ="Chiều cao: 0,8-1,2m"
-var p5 ="Cây dạ lam có nguồn gốc từ Brazil, được du nhập và phân bố rộng khắp ở Việt Nam."
-var p6 ="Cây mọc thành bụi thưa, thân vươn thẳng với chiều cao cây trung bình từ 0,8-1,2m. Lá hình trứng, mép lá nguyên, gân lá nổi rõ, phiến rộng khoảng từ 15-20cm. Lá có màu xanh đậm ở mặt trên, quanh gân lá có màu trắng sữa; mặt dưới lá nhạt màu hơn. Lá cây dạ lam mọc cách, cuống lá dài khi rụng để lại các khía màu nâu nhạt. Cây dạ lam thuộc loại cây chịu bóng bán phần hoặc hoàn toàn, nhu cầu nước tương đối cao. Cây được nhân giống từ tách bụi, cây mọc khỏe, tốc độ sinh trưởng nhanh với sức sống mạnh. Đây là loại cây có dáng đẹp, màu lá mướt mát, tươi khỏe, cây rất phù hợp trồng chậu trang trí nội thất-văn phòng. Ngoài ra, cây còn có đặc điểm lọc khí, làm xanh mát môi trường, giúp điều hòa không khí, đặc biệt tốt cho những môi trường thường xuyên sử dụng các loại máy móc tảng nhiệt. Có thể bày cây ở hành lang hay ở giữa sảnh, đặt ở cạnh bàn làm việc hoặc trang trí các góc phòng có diện tích trung bình."
-var list1=[p1,p2,p3,p4,p5,p6];
-var list2 = [{title:"Cây cọ ta",price:"150.000",discount:"",src:"../../IMG/spx2-6.png"},{title:"Cây dứa nhỏ",price:"375.000",discount:"",src:"../../IMG/spx2-11.png"},{title:"Cây cọ ta",price:"150.000",discount:"",src:"../../IMG/spx2-6.png"},{title:"Cây dứa nhỏ",price:"375.000",discount:"",src:"../../IMG/spx2-11.png"}]
-var list3 =["../../IMG/spx2-6.png","../../IMG/spx2-7.png","../../IMG/spx2-8.png","../../IMG/spx2-9.png","../../IMG/spx2-10.png",]