//footer
-var footer_title = ["THÔNG TIN KHÁCH HÀNG", "HỖ TRỢ DỊCH VỤ","CHÍNH SÁCH ƯU ĐÃI", "TIN TỨC"]
-var footer_list1= ["Tài khoản của tôi","Sản phẩm yêu thích","Lịch sử mua hàng","Chính sách đổi trả","Góp ý, khiếu nại"];
-var footer_list2= ["Hệ thống cửa hàng","Hướng dẫn mua hàng","Hướng dẫn thanh toán","Tích điểm đổi quà","Câu hỏi thường gặp"];
-var footer_list3= ["Chính sách giao hàng","Chính sách đổi trả","Chính sách bảo hàng","Giới thiệu sản phẩm mới","Chính sách trả góp"];
-var footer_list4= ["Tin mới","Khuyến mại","Tuyển dụng","Download","Tags"];
-var footer_list5= ["Sitemap","Danh mục sản phẩm","Hợp tác","Thông tin liên hệ","Câu hỏi thường gặp"]
-var footer_list6=["fab fa-cc-visa","fab fa-cc-mastercard","fab fa-cc-paypal","fab fa-cc-paypal"]

-var footer_list = [{title:"THÔNG TIN KHÁCH HÀNG" , list: footer_list1}, {title:"HỖ TRỢ DỊCH VỤ",list:footer_list2},{title:"CHÍNH SÁCH ƯU ĐÃI",list:footer_list3},{title:"TIN TỨC", list:footer_list4}]