-var val1 = {src:"../../IMG/spx2-4.png",name:"Cây ngọc ngân", desc :"Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.",price:"250.000 Đ"}
-var val2 = {src:"../../IMG/spx2-8.png",name:"Cây ngọc ngân", desc :"Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.",price:"250.000 Đ"}
-var val3 = {src:"../../IMG/spx2-9.png",name:"Cây ngọc ngân", desc :"Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.",price:"250.000 Đ"}
-var val4 = {src:"../../IMG/spx2-10.png",name:"Cây ngọc ngân", desc :"Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.",price:"250.000 Đ"}
-var val5 = {src:"../../IMG/spx2-11.png",name:"Cây ngọc ngân", desc :"Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để tặng người ấy, Ngọc Ngân valinetin không chỉ đẹp ở phiến là đốm trắng.",price:"250.000 Đ"}
-var list1 = [val1,val2,val3,val4,val5]