extends LAYOUT/common-layout.pug
block content
    div.roboto--bold dang xuan thang
    div.roboto--regular dang xuan thang
    div.roboto--medium dang xuan thang
    .segoe-ui   aaaaaaaaaaaaaaaaaaaaaaaaaa dang xuan thang
