.quantityOfItem {
    border: 1px solid $gray-border;
    outline: none;
    padding: 1rem;
    font-size: 2rem;
    color: $gray-light-text;
}

.btn-deleteItem {
    border: none;
    color: $gray-light-text;
    cursor: pointer;
    font-size: 2rem;

    &:hover {
        color: $primary-color;
    }
}

.modal-address {
    margin-top: 3rem;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    font-family: "Arial";
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    top: 20%;
   
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */


@keyframes animatetop {
    from {
        top: -100%;
        opacity: 0
    }

    to {
        top: 20%;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {

    background-color: #3fb871;
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    font-size: 2rem;

}

.modal-body {
    padding: 2rem 16px;

    .register__form__control {
        width: 100%;
        margin-bottom: 2rem;
    }
    .modal-action{
        @include flexbox(center);
    }
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;

}

.processbar {

    &__list {
        display: flex;

        li {
            font-family: "Roboto Regular";
            color: $gray-light-text;
            font-size: 2rem;
            width: 33.33%;
            text-align: center;

            &:first-child {
                i {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        i {
            color: $gray-light-text;
            width: 100%;
            position: relative;
            margin-bottom: 3rem;

            &::before {
                width: 4rem;
                height: 4rem;
                border: 1px solid $gray-border;
                border-radius: 50%;
                padding: 1rem;



            }

            &::after {
                width: 88%;
                content: "";
                height: 1px;
                position: absolute;
                background-color: gray;
                top: 50%;
                z-index: -1;
                left: -44%;
            }


        }
    }
}

.cart {
    margin-top: 5rem;

    &__title {
        font-weight: bold;
        font-size: 1.6rem;
        color: $primary-color;
        font-family: "Arial";
        text-transform: uppercase;
    }

    &__table {
        width: 100%;
        margin-top: 4rem;
        font-family: "Arial";
        border: 1px solid $gray-border;

        tr {

            border: 1px solid $gray-border;

            th {
                border: 1px solid $gray-border;
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: white;
                font-size: 1.4rem;
                background-color: $primary-color;
            }

            td {
                border: 1px solid $gray-border;
                text-align: center;
                vertical-align: middle;
                color: $gray-light-text;
                font-size: 1.6rem;

                &:nth-child(1) {
                    width: 16.5%;
                    padding: 2rem;

                    img {
                        width: 100%;
                    }
                }

                &:nth-child(2) {
                    color: $primary-color;
                }

                &:nth-child(4) {
                    button {
                        border: 1px solid $gray-light-text;
                        color: $gray-light-text;
                        padding: 1rem 1.5rem;
                    }
                }
            }
        }

    }

    &__actions {
        margin: 5rem 0;
        @include flexbox(flex-end);

        button {
            margin-left: 2rem;

            &:nth-child(1) {
                color: $primary-color;
                padding-left: 3rem;
                padding-right: 3rem;
                border: 1px solid $primary-color;

            }
        }
    }

    &__payments {
        @include flexbox(flex-start, flex-end, wrap, column);
        font-family: "Arial Bold";
        font-size: 1.4rem;
        color: $primary-color;
        margin-bottom: 15rem;

        table {
            margin-bottom: 3rem;
            border: 1px solid $gray-border;

            width: 55%;

            tr {
                border: 1px solid $gray-border;

                td {
                    border: 1px solid $gray-border;

                    padding: 3rem;
                }

                text-align: center;
                color: $primary-color;

                &:last-child {
                    color: white;
                    background-color: $primary-color;
                }
            }
        }

    }
}

@include media-mobile {
    .cart {
        margin-top: 3rem;

        &__table {
            margin-top: 4rem;
            font-family: "Arial";
            border: 1px solid $gray-border;

            tr {

                border: 1px solid $gray-border;

                th {
                    border: 1px solid $gray-border;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: white;
                    font-size: 1rem;
                    background-color: $primary-color;
                }

                td {
                    border: 1px solid $gray-border;
                    text-align: center;
                    vertical-align: middle;
                    color: $gray-light-text;
                    font-size: 1rem;

                    &:nth-child(1) {
                        width: 16.5%;
                        padding: 0.5rem;

                        img {
                            width: 100%;
                        }
                    }

                }
            }
        }

        &__payments {
            font-size: 1.1rem;
            margin-bottom: 4rem;

            table {
                width: 100%;

                tr {
                    border: 1px solid $gray-border;

                    td {
                        border: 1px solid $gray-border;

                        padding: 2rem;
                    }

                    text-align: center;
                    color: $primary-color;

                    &:last-child {
                        color: white;
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}